@using SuperMarket.ProductViewModels
@model List<ProductListViewModel>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<table class="table">
    <thead>
        <tr>
            <th scope="col">Supermarket</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Entered Date</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Market</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.CreatedAt</td>
            </tr>
        }


    </tbody>
</table>
